* {
    background-color: #F9F0E0;
    flex-direction: column;
}

.logo {
    padding-top:5px
}

.tile-image{
    float: left;
    margin-right: 50px;
    height: 200px;
    width: 200px;
}

p {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

h2 {
    font-size: 35px;
    color: #CC3A63;
    font-weight: bold;
}

h1 {
    font-size: 50px;
    color: #CC3A63;
    font-weight: bold;
}

.card {
    width: 45%;
    display: inline-block;
    margin-bottom: 30px;
}

.left {
    float: left;
}

.right {
    float: right;
}

@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}

footer > p {
    clear: both;
    text-align: right;
    color: #CC3A63;
    font-weight: bold;
}